.container-header {
  height: 100vh;
  background-image: url(/assets/img/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: opacity(80%);
}

.sub-text {
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
}

.h1-header::before {
  content: '';
  border-top: solid 4px rgba(255, 255, 255, 100);
  width: 100%;
  display: block;
  margin: 15px auto;
}

.h1-header::after {
  content: '';
  border-top: solid 4px rgba(255, 255, 255, 100);
  width: 100%;
  display: block;
  margin: 15px auto;
}

h2::after {
  content: '';
  border-top: solid 4px rgb(22, 37, 56);
  width: 10%;
  display: block;
  margin: 14px auto;
}

nav {
  background-color: #1A1F21;
}

.h1-header {
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

.navbar-fixed {
  position: absolute;
  z-index: 999999999;
}

.substitulo {
  color: rgb(69, 66, 66);
}

.page-footer {
  margin: 0;
  padding: 0;
}
